nav {
    height: 70px;
    color: #fff !important;
}
nav a {
    color: #fff !important;
    transition: ease all 1s;
}

nav a:hover {
    color: rgb(158, 158, 158) !important;
}

input::placeholder {
    color: #ccc !important;
}

.logout_btn {
    margin-top: -20px;
    text-align: center;
}